table {
      width: 100%;
      border-style: dotted;
      cellspacing: 1;
      font-family: fantasy;
      border-color: blue;
    }
td {
      text-align: center;
      border-style: solid;
      cellspacing: 1;
    }
.library {
      background-color: yellow;
    }
.regents {
      background-color: aliceblue;
}
